azure-ai-formrecognizer==3.3.3
azure-core==1.35.0
fastapi==0.115.2
firebase-admin==7.1.0
google-ai-generativelanguage==0.6.15
google-generativeai==0.8.5
groq==0.31.1
openai==1.63.0
prefect==2.20.21
pydantic==2.9.2
Pillow==10.4.0
PyMuPDF==1.26.4
python-dotenv==1.0.1
uvicorn==0.32.1
azure-ai-inference==1.0.0b9
chromadb==1.0.20
numpy==2.1.3
